

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wat voor weer is het nu in de wereld?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="searchbar">
    <ion-searchbar (ionChange)="withSearch($event.target.value)"></ion-searchbar>
  </div>
  
<div class='weercontent'>
  <div class='weerresults'>
    <strong>{{weerdata['temp']}}</strong>
    <br>
    <strong>{{weerdata['algemeneOmschrijving']}}</strong>
  </div>

  <div class='weericon'>
    <img src="{{weerdata['weerIcon']}}">
    <div class='transparent'></div>
    <img class='achtergrondfoto' src="{{weerdata['weerBackground']}} ">
  </div>

</div>

</ion-content>
