

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="searchbar">
    <ion-searchbar (ionChange)="withSearch($event.target.value)"></ion-searchbar>
  </div>
  
<div class='weercontent'>
  <div class='weerresults'>
    <strong>Het is {{temp}}°C in {{city}}</strong>
    <br>
    <strong>{{algemeneOmschrijving}}</strong>
  </div>

  <div class='weericon'>
    <img src={{weerIcon}}>
    <div class='transparent'></div>
    <img class='achtergrondfoto' src={{weerBackground}} >
  </div>

</div>

</ion-content>
